.jumbotron {
  background: $bg-1st;
  color: $color-1st;
}

.form-control {
  margin: 5px;
  background: opacify(lighten($bg-1st, 15%), 1);

  &:focus,
  &[readonly] {
     background: opacify($bg-1st, 1);
     border-color: transparentize($accent-color, 0.3);
  }
}

.custom-select {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: $bg-1st;
  color: $color-1st;

  &:focus {
    border-color: transparentize($accent-color, 0.3);
  }
}

.badge-primary {
  background: $accent-color;
  color: $bg-1st;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 2px rgba($accent-color, 0.25)
}

.btn-primary {
  background: darken($accent-color, 10%);
  border-color: darken($accent-color, 10%);

  &:hover {
    background: $accent-color;
    border-color: darken($accent-color, 10%);
    cursor: pointer;
  }
}
