.image_picker_selector {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  list-style: decimal;
  justify-content: center;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    flex-basis: 50%;
  }
}

.image_picker_selector .group {
  width: 100%;
}

.image_picker_selector .group_title {
  float: none;
}

.image_picker_selector .thumbnail {
  display: block;
  margin: 5px;
  padding: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.image_picker_selector .thumbnail img {
  width: 75%;
  height: auto;
  border: 2px solid  transparent;
  -webkit-user-drag: none;
}

.image_picker_selector .thumbnail.selected {
  background: transparentize(lighten($bg-1st, 30%), .3);

  & img {
    border: 2px solid $bg-1st;
  }
}
