// Body
$body-bg: #2a2a2a url(images/bg.jpg);

// Colors
$accent-color: #66cc00;
$color-1st: rgba(255, 255, 255, 0.87);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14;
$line-height-base: 1.6;
$text-color: #636b6f;

 // Backgrounds
$bg-1st: rgba(0, 0, 0, 0.8);
$bg-2nd: rgba(255, 255, 255, 0.8);

// Other
$blur: 5px;
